body
{
   background-color:blueviolet; 
}
.text
{
    color: rgba(252, 252, 223, 0.37);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.small
{
    color:darkkhaki;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

